{{ define "title" }}
  Create new database for project
{{ end }}

{{ define "main" }}
  {{ template "nav" .NavProps }}
  <a href="/project/{{ .ProjectName }}/database">Back</a>
  <br /><br /><br />

  <h2>New database for project</h2>
  <form id="new-container-form" method="POST">
    <fieldset class="border-0">
      <p>Zones</p>
      {{ range .Zones }}
      <label><input type="radio" name="zone" value="{{ . }}">{{ . }}</label>
      {{ end }}
    </fieldset>
    <br />
    <button type="submit">Submit</button>
  </form>
{{ end }}
