<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Something Something Containers as a Service</title>

  <link href="/static/styles.css" rel="stylesheet" />
</head>

<body class="bg-stone-100 dark:bg-stone-800 dark:text-white font-helvetica dark:font-light">
  <nav class="flex justify-between items-center">
    <h1>
      Something Something Containers as a Service
    </h1>
    <div>
      <a href="/home"><button>Log in</button></a>
    </div>
  </nav>

  <main>
    <p>Hello traveller</p>
  </main>
</body>
</html>
